body {
    margin: 0;
    background-color: #440000;
    color : white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #680000;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: white;
}

#icon {
    width: 65px;
    height: 70px;
} 
#noticias {
    display: flex;
    justify-content: space-around;
}

.noticia {
    margin: 10px;
    align-items: center;

    background-color: #4d0000;
    color: white;
    border: 5px solid #000000;

}

.img_noticia {
    width: 400px;

}

