body {
    margin: 0;
    background-color: #440000;
    color : white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #680000;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: white;
}

#icon {
    width: 65px;
    height: 70px;
} 
#noticias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #440000;
    border-radius: 10px;

}

.noticia {
    margin: 10px;
    align-items: center;

    background-color: #680000;
    color: white;
    border: 5px solid #000000;
     border-radius: 10px;

}

.img_noticia {
     border-radius: 10px;
     width: 400px;

}

footer {
    padding: 10px;
    text-align: center;

    background-color: #440000;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

